; file managed by ansible. do not manually edit. changes will be overwritten.

{% for k,v in data.items() -%}
{% if v is mapping -%}
[{{ k }}]
{% for k1, v1 in v.items() -%}
{{ k1 }}={{ v1 }};
{% endfor -%}
{% else -%}
{{ k }}={{ v }};
{% endif -%}
{% endfor -%}